{% load static %}
{% load tailwind_tags %}

<div class="swiper px-[20px] py-[10px]">
  <div class="swiper-wrapper">
    <div class="swiper-slide w-auto">
      <a href="{% url 'evenement:category' %}" class="flex flex-row items-center bg-[#F4F4F4] rounded-lg px-[10px] py-[10px] gap-2.5">
        <span class="text-[14px]">Catégories</span>
        <img src="{% static 'img/categorie.png' %}" class="w-[30px] h-[30px]"/>
      </a>
    </div>
    <div class="swiper-slide w-auto">
      <a href="" class="flex flex-row items-center bg-[#F4F4F4] rounded-lg px-[10px] py-[10px] gap-2.5">
        <span class="text-[14px]">Billets</span>
        <i class="fa fa-ticket text-[30px]"></i>
      </a>
    </div>
    <div class="swiper-slide w-auto">
      <a href="{% url 'evenement:favoris' %}" class="flex flex-row items-center bg-[#F4F4F4] rounded-lg px-[10px] py-[10px] gap-2.5">
        <span class="text-[14px]">Favoris</span>
        <i class="fa-regular fa-heart text-[30px]"></i>
      </a>
    </div>
    <div class="swiper-slide w-auto">
      <a href="" class="flex flex-row items-center bg-[#F4F4F4] rounded-lg px-[10px] py-[10px] gap-2.5">
        <span class="text-[14px]">Cadeaux</span>
        <i class="fa fa-gift text-[30px]"></i>
      </a>
    </div>
  </div>
</div>
