{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="manifest" href="{% static 'event/manifest.json' %}">
    <link rel="stylesheet" href="{% static 'event/css/base.css' %}">
    {% block style %}{% endblock %}
    {% tailwind_css %}
    <script src="{% static 'fontawesomefree/js/fontawesome.js' %}">
    </script>
    <script src="{% static 'fontawesomefree/js/solid.js' %}">. 
    </script>
    <script src="{% static 'fontawesomefree/js/brands.js' %}">
    </script>
    <script src="{% static 'fontawesomefree/js/regular.js' %}">
    </script>
<!-- Ajouter le service worker -->
    <script>
      if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('{% static 'sw.js' %}')
            .then(registration => console.log('Service Worker enregistré avec succès:', registration))
            .catch(error => console.log('Erreur d\'enregistrement du Service Worker:', error));
      }
    </script>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body class="flex flex-col h-screen">
    <div class="flex-1">
    {% block content %}
    {% endblock %}
    </div>
    <footer class="w-full">
    {% include 'footer.html' %}
    </footer>
  </body>
</html>