{% load static %}

<div class="px-[20px] py-[15px] w-full">
  <h1 class="text-[25px] text-gray-500 font-[800] cursor-default">Event.</h1>
  <div class="my-[20px]">
    <ul class="flex flex-row gap-[40px] items-center justify-center">
      <li>
        <a href="https://www.facebook.com/profile.php?id=61555359248244&mibextid=LQQJ4d">
          <i class="fa-brands fa-facebook text-[#343A40] text-[20px]"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/invites/contact/?i=m3shmceim051&utm_content=th86xke">
          <i class="fa-brands fa-instagram text-[#343A40] text-[20px]"></i>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa-brands fa-linkedin text-[#343A40] text-[20px]"></i>
        </a>
      </li>
      <li>
        <a href="https://www.tiktok.com/@event_gabon?_t=8jPwUaB0LSw&_r=1">
          <i class="fa-brands fa-tiktok text-[#343A40] text-[20px]"></i>
        </a>
      </li>
    </ul>
  </div>

  <div class="flex flex-row gap-[20px] justify-center">
    <p class="text-[12px] text-[#343A40] font-[600]">Prima Tech
    </p>
    <p class="text-[12px] text-[#343A40] font-[600]">
      <i class="fa-regular fa-copyright mr-[1px]"></i>
      2024 Event.
    </p>
  </div>

  <div class="flex flex-col items-center justify-center text-[#343A40] my-[20px] text-[12px] gap-2.5">
    
    <div class="w-full flex flex-row gap-6">
    <p class="text-[#343A40]">
      <a href="">
        Politique de confidentialité
      </a>
    </p>
    <p class="text-[#343A40]">
      <a href="">
        Conditions d'utilisation
      </a>
    </p>
    </div>
    
    <div class="w-full flex flex-row gap-6">
    <p class="text-[#343A40]">
      <a href="{% url 'credit' %}">
        crédits
      </a>
    </p>
    <p class="text-[#343A40]">
      <a href="">
        Aide
      </a>
    </p>
    <p class="text-[#343A40]">
      <a href="">
        Contact
      </a>
    </p>
    </div>
    
  </div>

  </div>
</footer>